/* @font-face {
  font-family: 'Archivo Black';
  font-style: normal;
  font-weight: 400;
  src: local('Archivo Black Regular'), local('ArchivoBlack-Regular'), url(https://fonts.gstatic.com/s/archivoblack/v9/HTxqL289NzCGg4MzN6KJ7eW6CYyF-w.ttf) format('truetype');
} */
/* html,
body {
  height: 100%;
} */
body {
  background: black;
  /* font-family: 'Archivo Black', sans-serif; */
}


.one {
  background-color: black;
  width: 50px;
  height: 50px;
  top: 300px;
  right: 750px;
  position: absolute;


  -webkit-animation-name: one;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 2s;
  animation-name: one;
  animation-duration: 5s;
  animation-iteration-count: infinite;
   animation-delay: 2s;
}


@-webkit-keyframes one {
  0%   {background-color:black;}
  25%   {background-color:red;}
  50%  {background-color:blue;}
  75%  {background-color:red;}
  100% {background-color:black;}
}


@keyframes one {
  0%   {background-color:black;}
  25%  {background-color:red;}
  50%  {background-color:blue;}
  75%  {background-color:red;}
  100% {background-color:black;}
 }

 .two {
   background-color: black;
   width: 50px;
   height: 50px;
   top: 300px;
   right: 900px;
   position: absolute;


   -webkit-animation-name: twoL;
   -webkit-animation-duration: 6s;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-delay: 2s;
   animation-name: two;
   animation-duration: 6s;
   animation-iteration-count: infinite;
    animation-delay: 2s;
 }


 @-webkit-keyframes two {
   0%   {background-color:black;}
   25%   {background-color:red;}
   50%  {background-color:blue;}
   75%  {background-color:red;}
   100% {background-color:black;}
 }


 @keyframes two {
   0%   {background-color:black;}
   25%  {background-color:red;}
   50%  {background-color:blue;}
   75%  {background-color:red;}
   100% {background-color:black;}
  }

  .three {
    background-color: black;
    width: 50px;
    height: 50px;
    top: 150px;
    right: 900px;
    position: absolute;


    -webkit-animation-name: twoTL;
    -webkit-animation-duration: 6s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: 2s;
    animation-name: two;
    animation-duration: 6s;
    animation-iteration-count: infinite;
     animation-delay: 2s;
  }


  @-webkit-keyframes three {
    0%   {background-color:black;}
    25%   {background-color:red;}
    50%  {background-color:blue;}
    75%  {background-color:red;}
    100% {background-color:black;}
  }


  @keyframes three {
    0%   {background-color:black;}
    25%  {background-color:red;}
    50%  {background-color:blue;}
    75%  {background-color:red;}
    100% {background-color:black;}
   }

   .four {
     background-color: black;
     width: 50px;
     height: 50px;
     top: 150px;
     right: 750px;
     position: absolute;


     -webkit-animation-name: twoTM;
     -webkit-animation-duration: 6s;
     -webkit-animation-iteration-count: infinite;
     -webkit-animation-delay: 2s;
     animation-name: two;
     animation-duration: 6s;
     animation-iteration-count: infinite;
      animation-delay: 2s;
   }


   @-webkit-keyframes four {
     0%   {background-color:black;}
     25%   {background-color:red;}
     50%  {background-color:blue;}
     75%  {background-color:red;}
     100% {background-color:black;}
   }


   @keyframes four {
     0%   {background-color:black;}
     25%  {background-color:red;}
     50%  {background-color:blue;}
     75%  {background-color:red;}
     100% {background-color:black;}
    }

    .five {
      background-color: black;
      width: 50px;
      height: 50px;
      top: 150px;
      right: 600px;
      position: absolute;


      -webkit-animation-name: twoTR;
      -webkit-animation-duration: 6s;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-delay: 2s;
      animation-name: two;
      animation-duration: 6s;
      animation-iteration-count: infinite;
       animation-delay: 2s;
    }


    @-webkit-keyframes five {
      0%   {background-color:black;}
      25%   {background-color:red;}
      50%  {background-color:blue;}
      75%  {background-color:red;}
      100% {background-color:black;}
    }


    @keyframes five {
      0%   {background-color:black;}
      25%  {background-color:red;}
      50%  {background-color:blue;}
      75%  {background-color:red;}
      100% {background-color:black;}
     }

     .six {
       background-color: black;
       width: 50px;
       height: 50px;
       top: 300px;
       right: 600px;
       position: absolute;


       -webkit-animation-name: twoR;
       -webkit-animation-duration: 6s;
       -webkit-animation-iteration-count: infinite;
       -webkit-animation-delay: 2s;
       animation-name: two;
       animation-duration: 6s;
       animation-iteration-count: infinite;
        animation-delay: 2s;
     }


     @-webkit-keyframes six {
       0%   {background-color:black;}
       25%   {background-color:red;}
       50%  {background-color:blue;}
       75%  {background-color:red;}
       100% {background-color:black;}
     }


     @keyframes six {
       0%   {background-color:black;}
       25%  {background-color:red;}
       50%  {background-color:blue;}
       75%  {background-color:red;}
       100% {background-color:black;}
      }

      .seven {
        background-color: black;
        width: 50px;
        height: 50px;
        top: 450px;
        right: 600px;
        position: absolute;


        -webkit-animation-name: twoBR;
        -webkit-animation-duration: 6s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-delay: 2s;
        animation-name: two;
        animation-duration: 6s;
        animation-iteration-count: infinite;
         animation-delay: 2s;
      }


      @-webkit-keyframes seven {
        0%   {background-color:black;}
        25%   {background-color:red;}
        50%  {background-color:blue;}
        75%  {background-color:red;}
        100% {background-color:black;}
      }


      @keyframes seven {
        0%   {background-color:black;}
        25%  {background-color:red;}
        50%  {background-color:blue;}
        75%  {background-color:red;}
        100% {background-color:black;}
       }
       .eight {
         background-color: black;
         width: 50px;
         height: 50px;
         top: 450px;
         right: 750px;
         position: absolute;


         -webkit-animation-name: twoBM;
         -webkit-animation-duration: 6s;
         -webkit-animation-iteration-count: infinite;
         -webkit-animation-delay: 2s;
         animation-name: two;
         animation-duration: 6s;
         animation-iteration-count: infinite;
          animation-delay: 2s;
       }


       @-webkit-keyframes eight {
         0%   {background-color:black;}
         25%   {background-color:red;}
         50%  {background-color:blue;}
         75%  {background-color:red;}
         100% {background-color:black;}
       }


       @keyframes eight {
         0%   {background-color:black;}
         25%  {background-color:red;}
         50%  {background-color:blue;}
         75%  {background-color:red;}
         100% {background-color:black;}
        }

        .nine {
          background-color: black;
          width: 50px;
          height: 50px;
          top: 450px;
          right: 900px;
          position: absolute;


          -webkit-animation-name: twoBL;
          -webkit-animation-duration: 6s;
          -webkit-animation-iteration-count: infinite;
          -webkit-animation-delay: 2s;
          animation-name: two;
          animation-duration: 6s;
          animation-iteration-count: infinite;
           animation-delay: 2s;
        }


        @-webkit-keyframes nine {
          0%   {background-color:black;}
          25%   {background-color:red;}
          50%  {background-color:blue;}
          75%  {background-color:red;}
          100% {background-color:black;}
        }


        @keyframes nine {
          0%   {background-color:black;}
          25%  {background-color:red;}
          50%  {background-color:blue;}
          75%  {background-color:red;}
          100% {background-color:black;}
         }

         .ten {
           background-color: black;
           width: 50px;
           height: 50px;
           top: 600px;
           right: 900px;
           position: absolute;


           -webkit-animation-name: two;
           -webkit-animation-duration: 7s;
           -webkit-animation-iteration-count: infinite;
           -webkit-animation-delay: 2s;
           animation-name: two;
           animation-duration: 7s;
           animation-iteration-count: infinite;
            animation-delay: 2s;
         }


         @-webkit-keyframes ten {
           0%   {background-color:black;}
           25%   {background-color:red;}
           50%  {background-color:blue;}
           75%  {background-color:red;}
           100% {background-color:black;}
         }


         @keyframes ten {
           0%   {background-color:black;}
           25%  {background-color:red;}
           50%  {background-color:blue;}
           75%  {background-color:red;}
           100% {background-color:black;}
          }

          .eleven {
            background-color: black;
            width: 50px;
            height: 50px;
            top: 600px;
            right: 1050px;
            position: absolute;


            -webkit-animation-name: one;
            -webkit-animation-duration: 7s;
            -webkit-animation-iteration-count: infinite;
            -webkit-animation-delay: 2s;
            animation-name: one;
            animation-duration: 7s;
            animation-iteration-count: infinite;
             animation-delay: 2s;
          }


          @-webkit-keyframes eleven {
            0%   {background-color:black;}
            25%   {background-color:red;}
            50%  {background-color:blue;}
            75%  {background-color:red;}
            100% {background-color:black;}
          }


          @keyframes eleven {
            0%   {background-color:black;}
            25%  {background-color:red;}
            50%  {background-color:blue;}
            75%  {background-color:red;}
            100% {background-color:black;}
           }

           .twelve {
             background-color: black;
             width: 50px;
             height: 50px;
             top: 600px;
             right: 1200px;
             position: absolute;


             -webkit-animation-name: one;
             -webkit-animation-duration: 8s;
             -webkit-animation-iteration-count: infinite;
             -webkit-animation-delay: 2s;
             animation-name: one;
             animation-duration: 8s;
             animation-iteration-count: infinite;
              animation-delay: 2s;
           }


           @-webkit-keyframes twelve {
             0%   {background-color:black;}
             25%   {background-color:red;}
             50%  {background-color:blue;}
             75%  {background-color:red;}
             100% {background-color:black;}
           }


           @keyframes twelve {
             0%   {background-color:black;}
             25%  {background-color:red;}
             50%  {background-color:blue;}
             75%  {background-color:red;}
             100% {background-color:black;}
            }

            .thirteen {
              background-color: black;
              width: 50px;
              height: 50px;
              top: 600px;
              right: 1350px;
              position: absolute;


              -webkit-animation-name: one;
              -webkit-animation-duration: 9s;
              -webkit-animation-iteration-count: infinite;
              -webkit-animation-delay: 2s;
              animation-name: one;
              animation-duration: 9s;
              animation-iteration-count: infinite;
               animation-delay: 2s;
            }


            @-webkit-keyframes thirteen {
              0%   {background-color:black;}
              25%   {background-color:red;}
              50%  {background-color:blue;}
              75%  {background-color:red;}
              100% {background-color:black;}
            }


            @keyframes thirteen {
              0%   {background-color:black;}
              25%  {background-color:red;}
              50%  {background-color:blue;}
              75%  {background-color:red;}
              100% {background-color:black;}
             }

             .fourteen {
               background-color: black;
               width: 50px;
               height: 50px;
               top: 450px;
               right: 1350px;
               position: absolute;


               -webkit-animation-name: one;
               -webkit-animation-duration: 9s;
               -webkit-animation-iteration-count: infinite;
               -webkit-animation-delay: 2s;
               animation-name: one;
               animation-duration: 9s;
               animation-iteration-count: infinite;
                animation-delay: 2s;
             }


             @-webkit-keyframes fourteen {
               0%   {background-color:black;}
               25%   {background-color:red;}
               50%  {background-color:blue;}
               75%  {background-color:red;}
               100% {background-color:black;}
             }


             @keyframes fourteen {
               0%   {background-color:black;}
               25%  {background-color:red;}
               50%  {background-color:blue;}
               75%  {background-color:red;}
               100% {background-color:black;}
              }

              .fifteen {
                background-color: black;
                width: 50px;
                height: 50px;
                top: 450px;
                right: 1200px;
                position: absolute;


                -webkit-animation-name: one;
                -webkit-animation-duration: 8s;
                -webkit-animation-iteration-count: infinite;
                -webkit-animation-delay: 2s;
                animation-name: one;
                animation-duration: 8s;
                animation-iteration-count: infinite;
                 animation-delay: 2s;
              }


              @-webkit-keyframes fifteen {
                0%   {background-color:black;}
                25%   {background-color:red;}
                50%  {background-color:blue;}
                75%  {background-color:red;}
                100% {background-color:black;}
              }


              @keyframes fifteen {
                0%   {background-color:black;}
                25%  {background-color:red;}
                50%  {background-color:blue;}
                75%  {background-color:red;}
                100% {background-color:black;}
               }

               .sixteen {
                 background-color: black;
                 width: 50px;
                 height: 50px;
                 top: 450px;
                 right: 1050px;
                 position: absolute;


                 -webkit-animation-name: one;
                 -webkit-animation-duration: 7s;
                 -webkit-animation-iteration-count: infinite;
                 -webkit-animation-delay: 2s;
                 animation-name: one;
                 animation-duration: 7s;
                 animation-iteration-count: infinite;
                  animation-delay: 2s;
               }


               @-webkit-keyframes sixteen {
                 0%   {background-color:black;}
                 25%   {background-color:red;}
                 50%  {background-color:blue;}
                 75%  {background-color:red;}
                 100% {background-color:black;}
               }


               @keyframes sixteen {
                 0%   {background-color:black;}
                 25%  {background-color:red;}
                 50%  {background-color:blue;}
                 75%  {background-color:red;}
                 100% {background-color:black;}
                }

                .seventeen {
                  background-color: black;
                  width: 50px;
                  height: 50px;
                  top: 300px;
                  right: 1050px;
                  position: absolute;


                  -webkit-animation-name: one;
                  -webkit-animation-duration: 7s;
                  -webkit-animation-iteration-count: infinite;
                  -webkit-animation-delay: 2s;
                  animation-name: one;
                  animation-duration: 7s;
                  animation-iteration-count: infinite;
                   animation-delay: 2s;
                }


                @-webkit-keyframes seventeen {
                  0%   {background-color:black;}
                  25%   {background-color:red;}
                  50%  {background-color:blue;}
                  75%  {background-color:red;}
                  100% {background-color:black;}
                }


                @keyframes seventeen {
                  0%   {background-color:black;}
                  25%  {background-color:red;}
                  50%  {background-color:blue;}
                  75%  {background-color:red;}
                  100% {background-color:black;}
                 }

                 .eighteen {
                   background-color: black;
                   width: 50px;
                   height: 50px;
                   top: 300px;
                   right: 1200px;
                   position: absolute;


                   -webkit-animation-name: one;
                   -webkit-animation-duration: 8s;
                   -webkit-animation-iteration-count: infinite;
                   -webkit-animation-delay: 2s;
                   animation-name: one;
                   animation-duration: 8s;
                   animation-iteration-count: infinite;
                    animation-delay: 2s;
                 }


                 @-webkit-keyframes eighteen {
                   0%   {background-color:black;}
                   25%   {background-color:red;}
                   50%  {background-color:blue;}
                   75%  {background-color:red;}
                   100% {background-color:black;}
                 }


                 @keyframes eighteen {
                   0%   {background-color:black;}
                   25%  {background-color:red;}
                   50%  {background-color:blue;}
                   75%  {background-color:red;}
                   100% {background-color:black;}
                  }

                  .nineteen {
                    background-color: black;
                    width: 50px;
                    height: 50px;
                    top: 300px;
                    right: 1350px;
                    position: absolute;


                    -webkit-animation-name: one;
                    -webkit-animation-duration: 9s;
                    -webkit-animation-iteration-count: infinite;
                    -webkit-animation-delay: 2s;
                    animation-name: one;
                    animation-duration: 9s;
                    animation-iteration-count: infinite;
                     animation-delay: 2s;
                  }


                  @-webkit-keyframes nineteen {
                    0%   {background-color:black;}
                    25%   {background-color:red;}
                    50%  {background-color:blue;}
                    75%  {background-color:red;}
                    100% {background-color:black;}
                  }


                  @keyframes nineteen {
                    0%   {background-color:black;}
                    25%  {background-color:red;}
                    50%  {background-color:blue;}
                    75%  {background-color:red;}
                    100% {background-color:black;}
                   }

                   .twenty {
                     background-color: black;
                     width: 50px;
                     height: 50px;
                     top: 150px;
                     right: 1350px;
                     position: absolute;


                     -webkit-animation-name: one;
                     -webkit-animation-duration: 9s;
                     -webkit-animation-iteration-count: infinite;
                     -webkit-animation-delay: 2s;
                     animation-name: one;
                     animation-duration: 9s;
                     animation-iteration-count: infinite;
                      animation-delay: 2s;
                   }


                   @-webkit-keyframes twenty {
                     0%   {background-color:black;}
                     25%   {background-color:red;}
                     50%  {background-color:blue;}
                     75%  {background-color:red;}
                     100% {background-color:black;}
                   }


                   @keyframes twenty {
                     0%   {background-color:black;}
                     25%  {background-color:red;}
                     50%  {background-color:blue;}
                     75%  {background-color:red;}
                     100% {background-color:black;}
                    }

                    .twentyone {
                      background-color: black;
                      width: 50px;
                      height: 50px;
                      top: 150px;
                      right: 1200px;
                      position: absolute;


                      -webkit-animation-name: one;
                      -webkit-animation-duration: 8s;
                      -webkit-animation-iteration-count: infinite;
                      -webkit-animation-delay: 22s;
                      animation-name: one;
                      animation-duration: 8s;
                      animation-iteration-count: infinite;
                       animation-delay: 2s;
                    }


                    @-webkit-keyframes twentyone {
                      0%   {background-color:black;}
                      25%   {background-color:red;}
                      50%  {background-color:blue;}
                      75%  {background-color:red;}
                      100% {background-color:black;}
                    }


                    @keyframes twentyone {
                      0%   {background-color:black;}
                      25%  {background-color:red;}
                      50%  {background-color:blue;}
                      75%  {background-color:red;}
                      100% {background-color:black;}
                     }

                     .twentytwo {
                       background-color: black;
                       width: 50px;
                       height: 50px;
                       top: 150px;
                       right: 1050px;
                       position: absolute;


                       -webkit-animation-name: one;
                       -webkit-animation-duration: 7s;
                       -webkit-animation-iteration-count: infinite;
                       -webkit-animation-delay: 2s;
                       animation-name: one;
                       animation-duration: 7s;
                       animation-iteration-count: infinite;
                        animation-delay: 2s;
                     }


                     @-webkit-keyframes twentytwo {
                       0%   {background-color:black;}
                       25%   {background-color:red;}
                       50%  {background-color:blue;}
                       75%  {background-color:red;}
                       100% {background-color:black;}
                     }


                     @keyframes twentytwo {
                       0%   {background-color:black;}
                       25%  {background-color:red;}
                       50%  {background-color:blue;}
                       75%  {background-color:red;}
                       100% {background-color:black;}
                      }

                      .twentythree {
                        background-color: black;
                        width: 50px;
                        height: 50px;
                        top: 25px;
                        right: 1050px;
                        position: absolute;


                        -webkit-animation-name: one;
                        -webkit-animation-duration: 7s;
                        -webkit-animation-iteration-count: infinite;
                        -webkit-animation-delay: 2s;
                        animation-name: one;
                        animation-duration: 7s;
                        animation-iteration-count: infinite;
                         animation-delay: 2s;
                      }


                      @-webkit-keyframes twentythree {
                        0%   {background-color:black;}
                        25%   {background-color:red;}
                        50%  {background-color:blue;}
                        75%  {background-color:red;}
                        100% {background-color:black;}
                      }


                      @keyframes twentythree {
                        0%   {background-color:black;}
                        25%  {background-color:red;}
                        50%  {background-color:blue;}
                        75%  {background-color:red;}
                        100% {background-color:black;}
}

.twentyfour {
  background-color: black;
  width: 50px;
  height: 50px;
  top: 25px;
  right: 1200px;
  position: absolute;


  -webkit-animation-name: one;
  -webkit-animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 2s;
  animation-name: one;
  animation-duration: 8s;
  animation-iteration-count: infinite;
   animation-delay: 2s;
}


@-webkit-keyframes twentyfour {
  0%   {background-color:black;}
  25%   {background-color:red;}
  50%  {background-color:blue;}
  75%  {background-color:red;}
  100% {background-color:black;}
}


@keyframes twentyfour {
  0%   {background-color:black;}
  25%  {background-color:red;}
  50%  {background-color:blue;}
  75%  {background-color:red;}
  100% {background-color:black;}
 }

 .twentyfive {
   background-color: black;
   width: 50px;
   height: 50px;
   top: 25px;
   right: 1350px;
   position: absolute;


   -webkit-animation-name: one;
   -webkit-animation-duration: 9s;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-delay: 2s;
   animation-name: one;
   animation-duration: 9s;
   animation-iteration-count: infinite;
    animation-delay: 2s;
 }


 @-webkit-keyframes twentyfive {
   0%   {background-color:black;}
   25%   {background-color:red;}
   50%  {background-color:blue;}
   75%  {background-color:red;}
   100% {background-color:black;}
 }


 @keyframes twentyfive {
   0%   {background-color:black;}
   25%  {background-color:red;}
   50%  {background-color:blue;}
   75%  {background-color:red;}
   100% {background-color:black;}
  }

  .a {
    background-color: black;
    width: 50px;
    height: 50px;
    top: 25px;
    right: 900px;
    position: absolute;


    -webkit-animation-name: one;
    -webkit-animation-duration: 7s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: 2s;
    animation-name: one;
    animation-duration: 7s;
    animation-iteration-count: infinite;
     animation-delay: 2s;
  }


  @-webkit-keyframes a {
    0%   {background-color:black;}
    25%   {background-color:red;}
    50%  {background-color:blue;}
    75%  {background-color:red;}
    100% {background-color:black;}
  }


  @keyframes a {
    0%   {background-color:black;}
    25%  {background-color:red;}
    50%  {background-color:blue;}
    75%  {background-color:red;}
    100% {background-color:black;}
   }

   .b {
     background-color: black;
     width: 50px;
     height: 50px;
     top: 25px;
     right: 750px;
     position: absolute;


     -webkit-animation-name: one;
     -webkit-animation-duration: 7s;
     -webkit-animation-iteration-count: infinite;
     -webkit-animation-delay: 2s;
     animation-name: one;
     animation-duration: 7s;
     animation-iteration-count: infinite;
      animation-delay: 2s;
   }


   @-webkit-keyframes b {
     0%   {background-color:black;}
     25%   {background-color:red;}
     50%  {background-color:blue;}
     75%  {background-color:red;}
     100% {background-color:black;}
   }


   @keyframes b {
     0%   {background-color:black;}
     25%  {background-color:red;}
     50%  {background-color:blue;}
     75%  {background-color:red;}
     100% {background-color:black;}
}

.c {
  background-color: black;
  width: 50px;
  height: 50px;
  top: 25px;
  right: 600px;
  position: absolute;


  -webkit-animation-name: one;
  -webkit-animation-duration: 7s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 2s;
  animation-name: one;
  animation-duration: 7s;
  animation-iteration-count: infinite;
   animation-delay: 2s;
}


@-webkit-keyframes c {
  0%   {background-color:black;}
  25%   {background-color:red;}
  50%  {background-color:blue;}
  75%  {background-color:red;}
  100% {background-color:black;}
}


@keyframes c {
  0%   {background-color:black;}
  25%  {background-color:red;}
  50%  {background-color:blue;}
  75%  {background-color:red;}
  100% {background-color:black;}
 }

 .d {
   background-color: black;
   width: 50px;
   height: 50px;
   top: 25px;
   right: 450px;
   position: absolute;


   -webkit-animation-name: one;
   -webkit-animation-duration: 7s;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-delay: 2s;
   animation-name: one;
   animation-duration: 7s;
   animation-iteration-count: infinite;
    animation-delay: 2s;
 }


 @-webkit-keyframes d {
   0%   {background-color:black;}
   25%   {background-color:red;}
   50%  {background-color:blue;}
   75%  {background-color:red;}
   100% {background-color:black;}
 }


 @keyframes d {
   0%   {background-color:black;}
   25%  {background-color:red;}
   50%  {background-color:blue;}
   75%  {background-color:red;}
   100% {background-color:black;}
  }

  .e {
    background-color: black;
    width: 50px;
    height: 50px;
    top: 25px;
    right: 300px;
    position: absolute;


    -webkit-animation-name: one;
    -webkit-animation-duration: 8s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: 2s;
    animation-name: one;
    animation-duration: 8s;
    animation-iteration-count: infinite;
     animation-delay: 2s;
  }


  @-webkit-keyframes e {
    0%   {background-color:black;}
    25%   {background-color:red;}
    50%  {background-color:blue;}
    75%  {background-color:red;}
    100% {background-color:black;}
  }


  @keyframes e {
    0%   {background-color:black;}
    25%  {background-color:red;}
    50%  {background-color:blue;}
    75%  {background-color:red;}
    100% {background-color:black;}
   }

   .f {
     background-color: black;
     width: 50px;
     height: 50px;
     top: 25px;
     right: 150px;
     position: absolute;


     -webkit-animation-name: one;
     -webkit-animation-duration: 9s;
     -webkit-animation-iteration-count: infinite;
     -webkit-animation-delay: 2s;
     animation-name: one;
     animation-duration: 9s;
     animation-iteration-count: infinite;
      animation-delay: 2s;
   }


   @-webkit-keyframes f {
     0%   {background-color:black;}
     25%   {background-color:red;}
     50%  {background-color:blue;}
     75%  {background-color:red;}
     100% {background-color:black;}
   }


   @keyframes f {
     0%   {background-color:black;}
     25%  {background-color:red;}
     50%  {background-color:blue;}
     75%  {background-color:red;}
     100% {background-color:black;}
    }

    .g {
      background-color: black;
      width: 50px;
      height: 50px;
      top: 150px;
      right: 150px;
      position: absolute;


      -webkit-animation-name: one;
      -webkit-animation-duration: 9s;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-delay: 2s;
      animation-name: one;
      animation-duration: 9s;
      animation-iteration-count: infinite;
       animation-delay: 2s;
    }


    @-webkit-keyframes g {
      0%   {background-color:black;}
      25%   {background-color:red;}
      50%  {background-color:blue;}
      75%  {background-color:red;}
      100% {background-color:black;}
    }


    @keyframes g {
      0%   {background-color:black;}
      25%  {background-color:red;}
      50%  {background-color:blue;}
      75%  {background-color:red;}
      100% {background-color:black;}
     }

     .h {
       background-color: black;
       width: 50px;
       height: 50px;
       top: 300px;
       right: 150px;
       position: absolute;


       -webkit-animation-name: one;
       -webkit-animation-duration: 9s;
       -webkit-animation-iteration-count: infinite;
       -webkit-animation-delay: 2s;
       animation-name: one;
       animation-duration: 9s;
       animation-iteration-count: infinite;
        animation-delay: 2s;
     }


     @-webkit-keyframes h {
       0%   {background-color:black;}
       25%   {background-color:red;}
       50%  {background-color:blue;}
       75%  {background-color:red;}
       100% {background-color:black;}
     }


     @keyframes h {
       0%   {background-color:black;}
       25%  {background-color:red;}
       50%  {background-color:blue;}
       75%  {background-color:red;}
       100% {background-color:black;}
}

.i {
  background-color: black;
  width: 50px;
  height: 50px;
  top: 450px;
  right: 150px;
  position: absolute;


  -webkit-animation-name: one;
  -webkit-animation-duration: 9s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 2s;
  animation-name: one;
  animation-duration: 9s;
  animation-iteration-count: infinite;
   animation-delay: 2s;
}


@-webkit-keyframes i {
  0%   {background-color:black;}
  25%   {background-color:red;}
  50%  {background-color:blue;}
  75%  {background-color:red;}
  100% {background-color:black;}
}


@keyframes i {
  0%   {background-color:black;}
  25%  {background-color:red;}
  50%  {background-color:blue;}
  75%  {background-color:red;}
  100% {background-color:black;}
 }

 .j {
   background-color: black;
   width: 50px;
   height: 50px;
   top: 600px;
   right: 150px;
   position: absolute;


   -webkit-animation-name: one;
   -webkit-animation-duration: 9s;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-delay: 2s;
   animation-name: one;
   animation-duration: 9s;
   animation-iteration-count: infinite;
    animation-delay: 2s;
 }


 @-webkit-keyframes j {
   0%   {background-color:black;}
   25%   {background-color:red;}
   50%  {background-color:blue;}
   75%  {background-color:red;}
   100% {background-color:black;}
 }


 @keyframes j {
   0%   {background-color:black;}
   25%  {background-color:red;}
   50%  {background-color:blue;}
   75%  {background-color:red;}
   100% {background-color:black;}
  }

  .k {
    background-color: black;
    width: 50px;
    height: 50px;
    top: 150px;
    right: 300px;
    position: absolute;


    -webkit-animation-name: one;
    -webkit-animation-duration: 8s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: 2s;
    animation-name: one;
    animation-duration: 8s;
    animation-iteration-count: infinite;
     animation-delay: 2s;
  }


  @-webkit-keyframes k {
    0%   {background-color:black;}
    25%   {background-color:red;}
    50%  {background-color:blue;}
    75%  {background-color:red;}
    100% {background-color:black;}
  }


  @keyframes k {
    0%   {background-color:black;}
    25%  {background-color:red;}
    50%  {background-color:blue;}
    75%  {background-color:red;}
    100% {background-color:black;}
   }

   .l {
     background-color: black;
     width: 50px;
     height: 50px;
     top: 300px;
     right: 300px;
     position: absolute;


     -webkit-animation-name: one;
     -webkit-animation-duration: 8s;
     -webkit-animation-iteration-count: infinite;
     -webkit-animation-delay: 2s;
     animation-name: one;
     animation-duration: 8s;
     animation-iteration-count: infinite;
      animation-delay: 2s;
   }


   @-webkit-keyframes l {
     0%   {background-color:black;}
     25%   {background-color:red;}
     50%  {background-color:blue;}
     75%  {background-color:red;}
     100% {background-color:black;}
   }


   @keyframes l {
     0%   {background-color:black;}
     25%  {background-color:red;}
     50%  {background-color:blue;}
     75%  {background-color:red;}
     100% {background-color:black;}
    }

    .m {
      background-color: black;
      width: 50px;
      height: 50px;
      top: 450px;
      right: 300px;
      position: absolute;


      -webkit-animation-name: one;
      -webkit-animation-duration: 8s;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-delay: 2s;
      animation-name: one;
      animation-duration: 8s;
      animation-iteration-count: infinite;
       animation-delay: 2s;
    }


    @-webkit-keyframes m {
      0%   {background-color:black;}
      25%   {background-color:red;}
      50%  {background-color:blue;}
      75%  {background-color:red;}
      100% {background-color:black;}
    }


    @keyframes m {
      0%   {background-color:black;}
      25%  {background-color:red;}
      50%  {background-color:blue;}
      75%  {background-color:red;}
      100% {background-color:black;}
     }

     .n {
       background-color: black;
       width: 50px;
       height: 50px;
       top: 600px;
       right: 300px;
       position: absolute;


       -webkit-animation-name: one;
       -webkit-animation-duration: 8s;
       -webkit-animation-iteration-count: infinite;
       -webkit-animation-delay: 2s;
       animation-name: one;
       animation-duration: 8s;
       animation-iteration-count: infinite;
        animation-delay: 2s;
     }


     @-webkit-keyframes n {
       0%   {background-color:black;}
       25%   {background-color:red;}
       50%  {background-color:blue;}
       75%  {background-color:red;}
       100% {background-color:black;}
     }


     @keyframes n {
       0%   {background-color:black;}
       25%  {background-color:red;}
       50%  {background-color:blue;}
       75%  {background-color:red;}
       100% {background-color:black;}
      }

      .o {
        background-color: black;
        width: 50px;
        height: 50px;
        top: 150px;
        right: 450px;
        position: absolute;


        -webkit-animation-name: one;
        -webkit-animation-duration: 7s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-delay: 2s;
        animation-name: one;
        animation-duration: 7s;
        animation-iteration-count: infinite;
         animation-delay: 2s;
      }


      @-webkit-keyframes 0 {
        0%   {background-color:black;}
        25%   {background-color:red;}
        50%  {background-color:blue;}
        75%  {background-color:red;}
        100% {background-color:black;}
      }


      @keyframes o {
        0%   {background-color:black;}
        25%  {background-color:red;}
        50%  {background-color:blue;}
        75%  {background-color:red;}
        100% {background-color:black;}
       }

       .p {
         background-color: black;
         width: 50px;
         height: 50px;
         top: 300px;
         right: 450px;
         position: absolute;


         -webkit-animation-name: one;
         -webkit-animation-duration: 7s;
         -webkit-animation-iteration-count: infinite;
         -webkit-animation-delay: 2s;
         animation-name: one;
         animation-duration: 7s;
         animation-iteration-count: infinite;
          animation-delay: 2s;
       }


       @-webkit-keyframes p {
         0%   {background-color:black;}
         25%   {background-color:red;}
         50%  {background-color:blue;}
         75%  {background-color:red;}
         100% {background-color:black;}
       }


       @keyframes p {
         0%   {background-color:black;}
         25%  {background-color:red;}
         50%  {background-color:blue;}
         75%  {background-color:red;}
         100% {background-color:black;}
}

.q {
  background-color: black;
  width: 50px;
  height: 50px;
  top: 450px;
  right: 450px;
  position: absolute;


  -webkit-animation-name: one;
  -webkit-animation-duration: 7s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 2s;
  animation-name: one;
  animation-duration: 7s;
  animation-iteration-count: infinite;
   animation-delay: 2s;
}


@-webkit-keyframes q {
  0%   {background-color:black;}
  25%   {background-color:red;}
  50%  {background-color:blue;}
  75%  {background-color:red;}
  100% {background-color:black;}
}


@keyframes q {
  0%   {background-color:black;}
  25%  {background-color:red;}
  50%  {background-color:blue;}
  75%  {background-color:red;}
  100% {background-color:black;}
 }

 .r {
   background-color: black;
   width: 50px;
   height: 50px;
   top: 600px;
   right: 450px;
   position: absolute;


   -webkit-animation-name: one;
   -webkit-animation-duration: 7s;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-delay: 2s;
   animation-name: one;
   animation-duration: 7s;
   animation-iteration-count: infinite;
    animation-delay: 2s;
 }


 @-webkit-keyframes r {
   0%   {background-color:black;}
   25%   {background-color:red;}
   50%  {background-color:blue;}
   75%  {background-color:red;}
   100% {background-color:black;}
 }


 @keyframes r {
   0%   {background-color:black;}
   25%  {background-color:red;}
   50%  {background-color:blue;}
   75%  {background-color:red;}
   100% {background-color:black;}
  }

  .s {
    background-color: black;
    width: 50px;
    height: 50px;
    top: 600px;
    right: 600px;
    position: absolute;


    -webkit-animation-name: one;
    -webkit-animation-duration: 7s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: 2s;
    animation-name: one;
    animation-duration: 7s;
    animation-iteration-count: infinite;
     animation-delay: 2s;
  }


  @-webkit-keyframes s {
    0%   {background-color:black;}
    25%   {background-color:red;}
    50%  {background-color:blue;}
    75%  {background-color:red;}
    100% {background-color:black;}
  }


  @keyframes s {
    0%   {background-color:black;}
    25%  {background-color:red;}
    50%  {background-color:blue;}
    75%  {background-color:red;}
    100% {background-color:black;}
   }

   .t {
     background-color: black;
     width: 50px;
     height: 50px;
     top: 600px;
     right: 750px;
     position: absolute;


     -webkit-animation-name: one;
     -webkit-animation-duration: 7s;
     -webkit-animation-iteration-count: infinite;
     -webkit-animation-delay: 2s;
     animation-name: one;
     animation-duration: 7s;
     animation-iteration-count: infinite;
      animation-delay: 2s;
   }


   @-webkit-keyframes t {
     0%   {background-color:black;}
     25%   {background-color:red;}
     50%  {background-color:blue;}
     75%  {background-color:red;}
     100% {background-color:black;}
   }


   @keyframes t {
     0%   {background-color:black;}
     25%  {background-color:red;}
     50%  {background-color:blue;}
     75%  {background-color:red;}
     100% {background-color:black;}
    }
